@font-face{
	font-family: "Monserrat";
	src: url("/fonts/Montserrat-Regular.otf") format("otf");
}

/* ID's section */

body{
	border: 2px solid blue;
	margin: 0 auto;
	height: 100%;
}

#bold-text{

}

#header{
	margin: 0 auto;
	padding: 7px;
	background-color: #D4DBFF;
	display: flex;
}

#ico-style{
	filter: invert(100%);
}

img#logo{
	width: 20%;
	height: 20%;
}

#footer{
	background-color: #3F3F41;
	color: white;
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%; 
}

/* Classes section */

.navbar-index{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: .4em;
	background-color: #D4DBFF;
}

li.border-simple{
	
}

li.border-simple:hover{
	background-color: #3F3F41;
}

li.border-simple{
	transition: background-color 0.3s linear 0.1s;
}

a.nav-link{
	color: #3F3F41;
}

a.nav-link:hover{
	color: #FFF;
}

a.nav-link{
	transition: color 0.3s linear 0.1s;
}

div.section-text{
	margin-top: .4em;
	margin-left: 65%;
	float: center;
}

div.about-content{
	width: 80%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-bottom: 2.5rem;
}

div.topic-center{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.main-title{
	color: #1C436F;
	padding: 1rem;
	font-family: 'Open Sans', sans-serif
}

.main-subtitle{
	color: #abaaaa;
	font-family: 'Open Sans', sans-serif;
	padding: 1rem;
}

.title{
	color: #FA8718;
	padding: 1rem;
	font-family: 'Open Sans', sans-serif	
}

.subtitle{	
	color: #88888C;
	font-family: 'Open Sans', sans-serif;
	padding: 1rem;
}

div.row-content{
	margin-top: 10rem;
}

a.white-link{
	color: #FFF;
}

a.white-link:hover{
	color: #FA8718;;
	text-decoration: none;	
}

.footer-info{
	position: fixed;
	right: 0;
	width: 200px;
}

div.center-content{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

div.image-content{
	background: #3F3F41;
	border-radius: 5px;
	margin-top: 0.8em;
	padding-top: 2px;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

div.image-content:hover{
	background: #FA8718;
	border-radius: 5px;
}

div.image-content{
	transition: background 0.3s linear 0.1s;
}

div.line{
	margin: 0;
	width: 80%;
	border: 1px solid #1C436F;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/*  Media query 900px; */

@media (min-width: 600px) and (max-width: 1050px){
	#header{
		font-size: 14px;
	}

	div.about-content{
		width: 100%;		
	}

	.title{
		font-size: 32px;
	}

	.subtitle{
		font-size: 28px;
	}
}

/* Media query 600px */

@media (max-width: 600px){
	#header{
		font-size: 10px;
	}

	div.about-content{
		width: 100%;
	}

	.title{
		font-size: 24px;
	}

	.subtitle{
		font-size: 20px;
	}	
}